@font-face {
    font-family: Norse-Bold;
    src: url(../fonts/Norse-Bold.otf);
}

 * {
    margin: 0; /*looking for this foo forever*/
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.main {
    width: 100vw;
    height: 100vh;
}

.main, 
.logo {
    display: flex;
    flex-flow: row wrap;
}

/*left side-----------------------------------------*/
.left {
    width: 40vw;
    min-width: 320px;
    color: white;

    background-image: url('./images/halie-west-25xggax4bSA-unsplash.jpg');
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.logo {
    height: auto;
    position: relative;
    justify-content: center;
    align-items: center;
    
    font-family: "Norse-Bold";
    font-size: 45px;
    background-color: rgba(0, 0, 0, 0.4);

    top: 20vh;
    gap: 1vw;
    padding: 16px;
}

.logo > p {
    font-family: "Norse-Bold";
}

.logo img {
    height: 10vh;
} 


/*right side---------------------------------------*/
.right {
    width: 60vw;
    background-color: #f9fafb;

    display: flex;
    /* flex-direction: column; */
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-section { /*dummy-text*/
    width: 90%;
    font-weight: 500;
    font-size: 1.2rem;

    margin-left: 48px;
    margin-bottom: 8px;
    /* margin-top: 0px; */
}

.form-section {
    background-color: white;
    /* height: 33vh; */
    margin-top: 32px;
    
}

.bottom {
    /* height: 33vh; */
   
}